{{ "<!-- Footer -->" | safeHTML}}
    <footer id="footer">
        <div class="inner">
            <div id="footer-columns">
                <div class="footer-1">
                    <ul class="icons">
                        {{ range .Site.Params.Footer.social }}
                            <li><a href="{{ .url | safeHTML }}" class="icon alt {{ .icon }}" target="_blank"><span class="label">{{ .label }}</span></a></li>
                        {{ end }}
                    </ul>
                    <ul class="copyright">
                        <li>&copy; {{ .Site.Params.Footer.copyright }}</li>
                        {{ range .Site.Params.Footer.quicklinks}}
                        <li>{{ .text }} <a href="{{ .url | safeHTML }}">{{ .alt }}</a></li>
                        {{ end }}
                    </ul>
                </div>
                <div class="footer-2">
                    <b>Online Tools</b><br>
                    Group Sign-Up<br>
                    Client Portal<br>
                    Book an Appointment
                </div>
                <div class="footer-3">
                    <b>Services</b><br>
                    <a href="assessment">Assessment</a><br>
                    Consultation<br>
                    <a href="treatment">Treatment</a><br>
                    <a href="skill-improvement-groups">Skill Improvement Groups</a><br>
                    <a href="parent-educator-services">Parent/Educator Services</a>
                </div>
                <div class="footer-4">
                    <b>Resources</b><br>
                    <a href="resources">Free Resources</a><br>
                    <a href="activities-at-home">Activities at Home</a><br>
                    <a href="faq">FAQs</a><br>
                    <a href="forms">Forms and Notices</a>
                </div>
                <div class="footer-5">
                    <b>Company</b><br>
                    <a href="about">About Us</a><br>
                    Events<br>
                    <a href="policies">Policies and Procedures</a><br>
                    <a href="fees">Fee Schedule</a><br>
                    Contact Us
                </div>
            </div>
            <p class="about">{{ .Site.Params.Footer.about }}</p>
        </div>
    </footer>
