{{ "<!-- Two -->" | safeHTML}}
    <section id="two">
        <div class="inner">
            <header class="major">
                <h2>Sign Up for Our Mailing List</h2>
            </header>
            <form method="post" action="/group-signup/mailing-list-signup">
                <div class="row uniform">
                    <input type="text" id="first_name" name="first_name" placeholder="First Name" required> 
                    <input type="text" id="last_name" name="last_name" placeholder="Last Name" required>
                    <input type="email" id="email_address" name="email_address" placeholder="Email Address" required>
                </div>
            </form>
            <ul class="actions">
                <li><a href="{{ .Site.Params.Two.url | absURL}}" class="button next">{{ .Site.Params.Two.buttonText }}</a></li>
            </ul>
        </div>
    </section>
